$colorDisabledIcon: #8097a0;    
$colorPrimary: #2229dd;    
$colorOnPrimary: #002231;    
$colorPrimaryHover: #9bc71f;    
$colorPrimarySplash: #cdeb7a;    
$colorBackground: #002231;    
$colorOnBackground: #ffffff;    
$colorSurface: #002e42;    
$colorSurfaceVariant: #406271;    
$colorDisabledSurface: #8097a0;    
$colorOnDisabledSurface: #bfcbd0;    
$colorDefaultText: #ffffff;    
$colorLightText: #bfcbd0;    
$colorSecondary: #8859ff;    
$colorOnSecondary: #ffffff;    
$colorSecondarySplash: #a37eff;    
$colorSecondaryHover: #693cd9;    
$colorError: #e65f75;    
$colorOnError: #ffffff;    
$colorErrorSplash: #f37f92;    
$colorErrorHover: #e53d59;    
$colorSuccess: #27ba62;    
$colorOnSuccess: #ffffff;    
$colorSuccessSplash: #68cf91;    
$colorSuccessHover: #219e53;    
$colorDefaultIcon: #bfcbd0;    
