$gradientPurpleGradient: linear-gradient(
     180.08deg,
     #002231 0%,   
     #8859ff 100%  
   )
   ;    
$gradientGreenGradient: linear-gradient(
     90deg,
     #27ba62 30.7%,   
     #137a61 67.7%,   
     #0b6060 100%  
   )
   ;    
$gradientElectricGreenGradient: linear-gradient(
     136.12deg,
     #27ba62 0%,   
     #8bd432 52.1%,   
     #acdd22 100%  
   )
   ;    
$gradientRedGradient: linear-gradient(
     180deg,
     #db1a3a 44.3%,   
     #6f0315 100%  
   )
   ;    
